doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
    block header
      title= title
    link(rel="stylesheet", href="/layui/css/layui.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    ul.layui-nav.layui-nav-tree.layui-nav-side(style="padding-top:60px;")
      li.layui-nav-item
        a(href="/admin/tongji") 可视化统计
      li.layui-nav-item
        a(href="/admin/categories") 分类管理
      li.layui-nav-item
        a(href="/admin/portal") cms管理
      li.layui-nav-item
        a(href="/admin/bofangqi") 播放器配置
      li.layui-nav-item
        a(href="/")
          i.layui-icon.layui-icon-home 
          | 返回首页
    script(src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js")
    script(src="/layui/layui.js")
    script(src="/javascripts/dropzone.js")
    script(src="/javascripts/my.js")