.layui-header.header
  .layui-main
    .logo 云转码管理平台
    ul.layui-nav(lay-filter="navbar")
      li.layui-nav-item
        a(href="/admin/upload") 上传电影
      li.layui-nav-item
        a(href="/admin/movies") 电影库
      li.layui-nav-item
        a(href="/admin/setting") 转码设置